<!DOCTYPE html>
<html ng-app="login">
<head>
	<meta charset="UTF-8">
	<!-- libs:js -->
	<!-- endinject -->
	<!-- inject:js -->
	<!-- endinject -->
	<title>Logowanie do portalu członków AEGEE-Gliwice</title>
	<!-- inject:css -->
	<!-- endinject -->
	<link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="icon" href="favicon.ico">
</head>
<body class="login">
	<div id="login" ng-controller="loginCtrl" ng-cloak>
		<div class="title"><h3>Portal członków</h3><h4>Europejskie Forum Studentów AEGEE-Gliwice</h4></div>
		<div class="form">
			<div layout-gt-sm="row">
				<md-input-container class="md-block" flex-gt-sm>
					<label>Nazwa użytkownika</label>
					<input id="username" name="username" ng-model="user.username" required autocomplete="off">
				</md-input-container>
			</div>

			<div layout-gt-sm="row">
				<md-input-container class="md-block" flex-gt-sm>
					<label>Hasło</label>
					<input my-enter="login()" type="password" id="password" name="password" ng-model="user.password" required autocomplete="off">
				</md-input-container>
			</div>

			<div class="error-message" ng-show="errorMessage != ''">
				<h4>Błąd</h4>
				<div>
					{{errorMessage}}
				</div>
			</div>
			<div class="submit-group">
				<md-button id="submit" class="md-raised" ng-click="login()">Zaloguj się</md-button>
			</div>
		</div>
	</div>
</body>
</html>
